body
{
    background-image: url("obrazy/tlo.png");
    font-family: "Lato", "sans-serif";
    font-size: 20px;
}

#logo
{
    width: 100%;
    height: 50px;
    background-color: #485b3b;
    text-align: center;
    font-size:  36px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
    border-bottom: 2px solid #33402a;
    text-shadow:
    2px 2px 0 #33402a,
    -2px 2px 0 #33402a,
    -2px -2px 0 #33402a,
    2px -2px 0 #33402a;

}

#container
{
    margin-left: auto;
    margin-right: auto;
    width: 878px;
    background-color: white;
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.footer
{
    width: 100%;
}




















.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  